modules = ["python-base-3.13"]

[nix]
channel = "stable-25_05"
packages = ["gitFull", "playwright-driver", "nss", "atk", "cairo", "cups", "dbus", "expat", "gdk-pixbuf", "glib", "gtk3", "libdrm", "mesa", "pango", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "xorg.libxshmfence", "libgbm", "libxkbcommon", "alsa-lib"]
